<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../../static/staffResources/images/favicon.png">
    <title>AdminBite admin Template - The Ultimate Multipurpose admin template</title>
    <!-- Custom CSS -->
    <link href="../../static/staffResources/css/style.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="../../static/staffResources/js/html5shiv.js"></script>
    <script src="../../static/staffResources/js/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        {% include "staff/header.html" %}
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        {% include "staff/menu.html" %}
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-5 align-self-center">
                        <h4 class="page-title">Complaint</h4>
                        <div class="d-flex align-items-center">

                        </div>
                    </div>


                    <!-- CHANGE THIS CODE HOME/LIBRARY......-->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <div class="col-7 align-self-center">
                        <div class="d-flex no-block justify-content-end align-items-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="/indexpage">Home</a>
                                    </li>
{#                                    <li class="breadcrumb-item active" aria-current="page">Library</li>#}
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->

            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Post Complaint</h4>
                            <form action="/submitComplaint" method="post" class="m-t-40" novalidate>

{#                                <input type="hidden" name="staffId" value="{{ key['branch_staffId'] }}">#}
{#                                <!-- Complaint To -->#}
{#                                <div class="form-group">#}
{#                                    <h5>Email <span class="text-danger">*</span></h5>#}
{#                                    <div class="controls">#}
{#                                        <input type="text" name="complaintTo" class="form-control" placeholder=" Receiver's Email Address" data-validation-regex-regex="([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})" data-validation-regex-message="Enter Valid Email"> </div>#}
{#                                </div>#}

{#                                {{% msg %}}#}
                                <!-- Complaint Subject -->
                                <div class="form-group">
                                    <h5> Complaint Subject <span class="text-danger">*</span></h5>
                                    <div class="controls">
                                        <input type="text" name="complaintSubject" class="form-control" required data-validation-required-message="This field is required"> </div>
                                    <!--<div class="form-control-feedback"><small>Add <code>required</code> attribute to field for required validation.</small></div> -->
                                </div>

{#                                <!-- Complaint Description-->#}
{#                                <div class="form-group">#}
{#                                    <h5>Complaint Description <span class="text-danger">*</span></h5>#}
{#                                    <div class="controls">#}
{#                                        <input type="text" name="complaintDescription" class="form-control" required data-validation-required-message="This field is required"> </div>#}
{#                                   <!--<div class="form-control-feedback"><small>Add <code>required</code> attribute to field for required validation.</small></div> -->#}
{#                                </div>#}

                                <!-- Complaint Description-->
                                <div class="form-group">
                                    <h5>Complaint Description  <span class="text-danger">*</span></h5>
                                    <div class="controls">
                                        <textarea name="complaintDescription" id="textarea" class="form-control" required placeholder="Complaint Description Here"></textarea>
                                    </div>
                                </div>

{#                                <!-- Branch Phone Number -->#}
{#                                <div class="form-group">#}
{#                                    <h5>Branch Contact Number <span class="text-danger">*</span></h5>#}
{#                                    <div class="controls">#}
{#                                        <input type="text" name="branchContact" class="form-control" required data-validation-containsnumber-regex="(\d)+" data-validation-containsnumber-message="No Characters Allowed, Only Numbers"> </div>#}
{#                                </div>#}

{#                                <!-- Branch Email -->#}
{#                                <div class="form-group">#}
{#                                    <h5>Email <span class="text-danger">*</span></h5>#}
{#                                    <div class="controls">#}
{#                                        <input type="text" name="branchEmail" class="form-control" placeholder="Email Address" data-validation-regex-regex="([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})" data-validation-regex-message="Enter Valid Email"> </div>#}
{#                                </div>#}
{##}
{#                                <!--City Dropdown -->#}
{#                                <div class="form-group">#}
{#                                    <h5>Select City<span class="text-danger">*</span></h5>#}
{#                                    <div class="controls">#}
{#                                        <select name="cityId" id="select" required class="form-control">#}
{##}
{#                                              {% for i in cityDict %}#}
{#                                                        <option value="{{ i['cityId'] }}" > {{ i['cityName'] }}</option>#}
{#                                                        #Value won't printed#}
{#                                              {% endfor %}#}
{#                                        </select>#}
{#                                    </div>#}
{#                                </div>#}
{##}
{#                                <!--Area Dropdown -->#}
{#                                <div class="form-group">#}
{#                                    <h5>Select Area<span class="text-danger">*</span></h5>#}
{#                                    <div class="controls">#}
{#                                        <select name="areaId" id="select" required class="form-control">#}
{##}
{#                                              {% for j in areaDict %}#}
{#                                                        <option value="{{ j['areaId'] }}" > {{ j['areaName'] }}</option>#}
{#                                                  #Value won't printed#}
{#                                              {% endfor %}#}
{##}
{#                                        </select>#}
{#                                    </div>#}
{#                                </div>#}
                                <!-- Add/Cancel Buttton -->
                                <div class="text-xs-right">
                                    <button type="submit" class="btn btn-info">Submit Complaint</button>
                                    <button type="reset" class="btn btn-inverse">Cancel</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            {% include "staff/footer.html" %}
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- customizer Panel -->
    <!-- ============================================================== -->

    <!-- <div class="chat-windows"></div> -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="../../static/staffResources/js/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="../../static/staffResources/js/popper.min.js"></script>
    <script src="../../static/staffResources/js/bootstrap.min.js"></script>
    <!-- apps -->
    <script src="../../static/staffResources/js/app.min.js"></script>
    <script src="../../static/staffResources/js/app.init.light-sidebar.js"></script>
    <script src="../../static/staffResources/js/app-style-switcher.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="../../static/staffResources/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="../../static/staffResources/js/sparkline.js"></script>
    <!--Wave Effects -->
    <script src="../../static/staffResources/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="../../static/staffResources/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="../../static/staffResources/js/custom.min.js"></script>
    <script src="../../static/staffResources/js/validation.js"></script>
    <script>
    ! function(window, document, $) {
        "use strict";
        $("input,select,textarea").not("[type=submit]").jqBootstrapValidation();
    }(window, document, jQuery);
    </script>
</body>

</html>