<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../../static/bankResources/images/favicon.png">
    <title>AdminBite admin Template - The Ultimate Multipurpose admin template</title>
    <!-- Custom CSS -->
    <link href="../../static/adminResources/css/style.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="../../static/bankResources/js/html5shiv.js"></script>
    <script src="../../static/bankResources/js/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        {% include "bank/header.html" %}
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        {% include "bank/menu.html" %}
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-5 align-self-center">
                        <h4 class="page-title">Manage Staff</h4>
                        <div class="d-flex align-items-center">

                        </div>
                    </div>


                    <!-- CHANGE THIS CODE HOME/LIBRARY......-->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <div class="col-7 align-self-center">
                        <div class="d-flex no-block justify-content-end align-items-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="/indexpage">Home</a>
                                    </li>
{#                                    <li class="breadcrumb-item active" aria-current="page">Library</li>#}
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->

            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Edit Staff</h4>
                            <form  action="/updateStaff" method="post" class="m-t-40" novalidate>

                                {% for key in staffDict %}
                                 <input type="hidden" name="staffId" value="{{ key['staffId'] }}">
                                 <input type="hidden" name="staff_BranchId" value="{{ key['staff_BranchId'] }}">
                                 <input type="hidden" name="staff_BankId" value="{{ key['staff_BankId'] }}">
                                 <input type="hidden" name="staff_LoginId" value="{{ key['staff_LoginId'] }}">
{#                                <input type="hidden" name="{{ key['cityId'] }}" value="{{ key['cityId'] }}">#}

                                <!-- Edit First Name -->
                                <div class="form-group">
                                    <h5>Firstname <span class="text-danger">*</span></h5>
                                    <div class="controls">
                                        <input type="text" name="staffFirstName" class="form-control" value="{{ key['staffFirstName'].strip() }}" required data-validation-required-message="This field is required"> </div>
                                    <!--<div class="form-control-feedback"><small>Add <code>required</code> attribute to field for required validation.</small></div> -->
                                </div>

                                <!-- Edit Last Name -->
                                <div class="form-group">
                                    <h5>Lastname <span class="text-danger">*</span></h5>
                                    <div class="controls">
                                        <input type="text" name="staffLastName" class="form-control" value="{{ key['staffLastName'].strip() }}" required data-validation-required-message="This field is required"> </div>
                                    <!--<div class="form-control-feedback"><small>Add <code>required</code> attribute to field for required validation.</small></div> -->
                                </div>

                                <!-- Edit Gender  -->
                                <div readonly="" class="col-md-6">
                                        <div class="form-group">
                                            <h5>Gender <span class="text-danger">*</span></h5>
                                            <fieldset class="controls">
                                                <div class="custom-control custom-radio">
                                                    <!--styled_radio -->
                                                    <input readonly type="radio" value="male" {% if  key['staffGender'].strip() == 'male' %} checked {% endif %} name="staffGender" required id="styled_radio1" class="custom-control-input">
                                                    <label class="custom-control-label" for="styled_radio1">Male</label>
                                                </div>
                                            </fieldset>
                                            <fieldset>
                                                <div class="custom-control custom-radio">
                                                    <input readonly type="radio" value="female" {% if  key['staffGender'].strip() == 'female' %} checked {% endif %} name="staffGender" id="styled_radio2" class="custom-control-input">
                                                    <label class="custom-control-label" for="styled_radio2">Female</label>
                                                </div>
                                            </fieldset>
                                        </div>
                                </div>

                                 <!-- Edit Date of Birth -->
                                <div class="form-group">
                                    <h5>Date of Birth <span class="text-danger">*</span></h5>
                                    <div class="controls">
{#                                        ^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[13-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$ #}
                                        <input type="text" name="staffDateOfBirth" value="{{ key['staffDateOfBirth'].strip() }}" class="form-control" placeholder="YYYY-MM-DD" data-validation-regex-regex="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))" data-validation-regex-message="Enter Valid Date"> </div>
                                </div>

                                <!-- Edit Address -->
                                <div class="form-group">
                                        <h5> Address <span class="text-danger">*</span></h5>
                                        <div class="controls">
                                            <textarea name="staffAddress" id="textarea" class="form-control" required placeholder="Address Here">{{ key['staffAddress'].strip() }}</textarea>
                                        </div>
                                </div>

                                <!--City Dropdown -->
                                <div class="form-group">
                                    <h5>Select City<span class="text-danger">*</span></h5>
                                    <div class="controls">
                                        <select name="staff_CityId" id="select" required class="form-control">

                                              {% for i in cityDict %}
                                                        {% if i['cityId'] == key['staff_CityId'] %}
                                                            <option selected value="{{ i['cityId'] }}" > {{ i['cityName'] }}</option>
                                                        {% else %}
                                                            <option  value="{{ i['cityId'] }}" > {{ i['cityName'] }}</option>
                                                        {% endif %}
{#                                                        #Value won't printed#}
                                              {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <!-- Edit Area Dropdown -->
                                <div class="form-group">
                                    <h5>Select Area<span class="text-danger">*</span></h5>
                                    <div class="controls">
                                        <select name="staff_AreaId" id="select" required class="form-control">

                                              {% for j in areaDict %}
                                                        {% if key['staff_AreaId'] == j['areaId'] %}
                                                            <option selected value="{{ j['areaId'] }}" > {{ j['areaName'] }}</option>
                                                        {% else %}
                                                            <option value="{{ j['areaId'] }}" > {{ j['areaName'] }}</option>
                                                        {% endif %}
{#                                                  #Value won't printed#}
                                              {% endfor %}

                                        </select>
                                    </div>
                                </div>

                                <!--Edit Branch Dropdown -->
                                <div class="form-group">
                                    <h5>Select Branch<span class="text-danger">*</span></h5>
                                    <div class="controls">
                                        <select name="staff_BranchId" id="select" required class="form-control">

                                              {% for j in branchDict %}
                                                        {% if key['staff_BranchId'] == j['branchId'] %}
                                                            <option value="{{ j['branchId'] }}" > {{ j['branchName'] }}</option>
                                                        {% else %}
                                                            <option value="{{ j['branchId'] }}" > {{ j['branchName'] }}</option>
                                                        {% endif %}
{#                                                  #Value won't printed#}
                                              {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <!-- Edit Staff Role -->
                                <div class="col-md-6">
                                        <div class="form-group">
                                            <h5> Staff Role <span class="text-danger">*</span></h5>
                                            <fieldset class="controls">
                                                <div class="custom-control custom-radio">
                                                    <!--styled_radio -->
                                                    <input type="radio" value="cashier" {% if  key['staffRole'].strip() == 'cashier' %} checked {% endif %} name="staffRole" required id="styled_radio3" class="custom-control-input">
                                                    <label class="custom-control-label" for="styled_radio3">Cashier</label>
                                                </div>
                                            </fieldset>
                                            <fieldset>
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" value="manager" {% if  key['staffRole'].strip() == 'manager' %} checked {% endif %}  name="staffRole" id="styled_radio4" class="custom-control-input">
                                                    <label class="custom-control-label" for="styled_radio4">Manager</label>
                                                </div>
                                            </fieldset>
                                            <fieldset>
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" value="other" {% if  key['staffRole'].strip() == 'other' %} checked {% endif %} name="staffRole" id="styled_radio5" class="custom-control-input">
                                                    <label class="custom-control-label" for="styled_radio5">Other</label>
                                                </div>
                                            </fieldset>
                                        </div>
                                </div>

                                <!-- REMOVED DOUBLE QUOTES FROM VALUE IN CONTACT & EMAIL AS IT SHOWS CHARACTER ONLY IN ERROR  -->
                                <!-- Edit Staff Contact Number -->
                                <div class="form-group">
                                    <h5>Contact Number <span class="text-danger">*</span></h5>
                                    <div class="controls">
                                        <input type="text" name="staffContact" value={{ key['staffContact'].strip() }} class="form-control" required data-validation-containsnumber-regex="(\d)+" data-validation-containsnumber-message="No Characters Allowed, Only Numbers"> </div>
                                </div>

                                <!-- Edit Staff Email -->
                                <div class="form-group">
                                    <h5>Email <span class="text-danger">*</span></h5>
                                    <div class="controls">
                                        <input type="text" name="loginEmail" value={{ key['loginEmail'].strip() }} class="form-control" placeholder="Email Address" data-validation-regex-regex="([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})" data-validation-regex-message="Enter Valid Email"> </div>
                                </div>

                                <!-- Done Button-->
                                <div class="text-xs-right">
                                    <button type="submit" class="btn btn-info">Done</button>
                                    <!--<button type="reset" class="btn btn-inverse">Cancel</button>-->
                                </div>

                                {% endfor %}

                            </form>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            {% include "bank/footer.html" %}
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- customizer Panel -->
    <!-- ============================================================== -->

    <!-- <div class="chat-windows"></div> -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="../../static/bankResources/js/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="../../static/bankResources/js/popper.min.js"></script>
    <script src="../../static/bankResources/js/bootstrap.min.js"></script>
    <!-- apps -->
    <script src="../../static/bankResources/js/app.min.js"></script>
    <script src="../../static/bankResources/js/app.init.light-sidebar.js"></script>
    <script src="../../static/bankResources/js/app-style-switcher.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="../../static/bankResources/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="../../static/bankResources/js/sparkline.js"></script>
    <!--Wave Effects -->
    <script src="../../static/bankResources/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="../../static/bankResources/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="../../static/bankResources/js/custom.min.js"></script>
    <script src="../../static/bankResources/js/validation.js"></script>
    <script>
    ! function(window, document, $) {
        "use strict";
        $("input,select,textarea").not("[type=submit]").jqBootstrapValidation();
    }(window, document, jQuery);
    </script>
</body>

</html>