<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../../static/adminResources/images/favicon.png">
    <title>AdminBite admin Template - The Ultimate Multipurpose admin template</title>
    <!-- Custom CSS -->
    <link href="../../static/adminResources/css/style.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="../../static/adminResources/js/html5shiv.js"></script>
    <script src="../../static/adminResources/js/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        {% include "admin/header.html" %}
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        {% include "admin/menu.html" %}
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-5 align-self-center">
                        <h4 class="page-title">Manage Area</h4>
                        <div class="d-flex align-items-center">

                        </div>
                    </div>


                    <!-- CHANGE THIS CODE HOME/LIBRARY......-->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <div class="col-7 align-self-center">
                            <div class="d-flex no-block justify-content-end align-items-center">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item">
                                            <a href="/indexpage">Home</a>
                                        </li>
    {#                                    <li class="breadcrumb-item active" aria-current="page">Library</li>#}
                                    </ol>
                                </nav>
                            </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->

            </div>

            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Edit Area</h4>
                            <form action="/updateArea" method="post" class="m-t-40" novalidate>

                                {% for key in areaDict %}

                                <input type="hidden" name="areaId" value="{{ key['areaId'] }}">
                                <!--City Dropdown -->
                                <div class="form-group">
                                    <h5>Select City<span class="text-danger">*</span></h5>
                                    <div class="controls">
                                        <select name="cityId" id="select" required class="form-control">
{#                                            <option value="">Select Your City</option>#}
{#                                            <option value="1">Ahmedabad</option>#}
                                              {% for i in cityDict %}
{#                                                        if({{ key['area_CityId'] == i['cityId'] }})#}
{#                                                            <option selected="selected" value="{{ i['cityId'] }}" > {{ i['cityName'] }}</option>#}
{#                                                              if({{ key['area_CityId'] == i['cityId']}}  selected = 'selected' )#}
                                                        <option value="{{ i['cityId'] }}" > {{ i['cityName'] }}</option> #Value won't printed
                                              {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <!-- Edit Area Name -->
                                <div class="form-group">
                                    <h5>Area Name <span class="text-danger">*</span></h5>
                                    <div class="controls">
                                        <input type="text" name="areaName" class="form-control" value="{{ key['areaName'].strip() }}" required data-validation-required-message="This field is required"> </div>
                                    <!--<div class="form-control-feedback"><small>Add <code>required</code> attribute to field for required validation.</small></div> -->
                                </div>

                                <!-- Edit City Description -->
                                <div class="form-group">
                                    <h5>Area Description <span class="text-danger">*</span></h5>
                                    <div class="controls">
                                        <textarea name="areaDescription"  id="textarea"  class="form-control" required placeholder="Area Description Here">{{ key['areaDescription'].strip() }}</textarea>
                                    </div>
                                </div>
                                <!-- Done Button-->
                                <div class="text-xs-right">
                                    <button type="submit" class="btn btn-info">Done</button>
                                    <!--<button type="reset" class="btn btn-inverse">Cancel</button>-->
                                </div>

                                {% endfor %}

                            </form>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            {% include "admin/footer.html" %}
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- customizer Panel -->
    <!-- ============================================================== -->

    <!-- <div class="chat-windows"></div> -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="../../static/adminResources/js/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="../../static/adminResources/js/popper.min.js"></script>
    <script src="../../static/adminResources/js/bootstrap.min.js"></script>
    <!-- apps -->
    <script src="../../static/adminResources/js/app.min.js"></script>
    <script src="../../static/adminResources/js/app.init.light-sidebar.js"></script>
    <script src="../../static/adminResources/js/app-style-switcher.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="../../static/adminResources/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="../../static/adminResources/js/sparkline.js"></script>
    <!--Wave Effects -->
    <script src="../../static/adminResources/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="../../static/adminResources/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="../../static/adminResources/js/custom.min.js"></script>
    <script src="../../static/adminResources/js/validation.js"></script>
    <script>
    ! function(window, document, $) {
        "use strict";
        $("input,select,textarea").not("[type=submit]").jqBootstrapValidation();
    }(window, document, jQuery);
    </script>
</body>

</html>